In [10]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [13]:
letter_to_result = {'H': 1, 'D': 0, 'A': -1}

def basic_clean(path, letter_to_result = {'H': 1, 'D': 0, 'A': -1}):
    """ (str) -> pandas.core.frame.DataFrame
    This function receives the path to raw csv file,
    afther that she reads it and performs main cleaning,
    and returns a single Dataframe
    """
    df = pd.read_csv(path)
    # Removing Div and last columns that correspond to betting, I don't need it
    df = df[df.columns[:23]]
    df = df.drop('Div', axis=1)

    # Set all dates to the same format:
    df['Date'] = pd.to_datetime(df['Date'])
    df['FTR'] = df['FTR'].apply(lambda x: letter_to_result[x])
    return df
basic_clean('data/season-0910_csv.csv', letter_to_result)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2009-08-15,Aston Villa,Wigan,0,2,-1,0,1,A,M Clattenburg,...,5,7,15,14,4,6,2,2,0,0
1,2009-08-15,Blackburn,Man City,0,2,-1,0,1,A,M Dean,...,9,5,12,9,5,4,2,1,0,0
2,2009-08-15,Bolton,Sunderland,0,1,-1,0,1,A,A Marriner,...,3,13,16,10,4,7,2,1,0,0
3,2009-08-15,Chelsea,Hull,2,1,1,1,1,D,A Wiley,...,12,3,13,15,12,4,1,2,0,0
4,2009-08-15,Everton,Arsenal,1,6,-1,0,3,A,M Halsey,...,5,9,11,13,4,9,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2010-05-09,Everton,Portsmouth,1,0,1,0,0,D,P Walton,...,13,4,12,11,14,1,0,0,0,0
376,2010-05-09,Hull,Liverpool,0,0,0,0,0,D,A Marriner,...,6,7,15,11,2,6,1,0,0,0
377,2010-05-09,Man United,Stoke,4,0,1,2,0,H,M Clattenburg,...,13,4,10,4,10,2,2,0,0,0
378,2010-05-09,West Ham,Man City,1,1,0,1,1,D,H Webb,...,8,6,12,7,4,3,2,0,0,0
379,2010-05-09,Wolves,Sunderland,2,1,1,1,1,D,L Mason,...,7,5,11,19,4,1,1,2,0,2

In [14]:
def all_years():
    """ None -> pandas.core.frame.DataFrame
    Retreave all files from seasons 9/10 till season 18/19,
    clean them with basic_clean function and finally
    merge them together into one Dataframe
    """

    season_list = []
    # Iterating through all seasons and appending dataframes of them to list
    for i in range(9, 19):
        season_start = '09' if i == 9 else str(i) 
        path = f'data/season-{season_start}{str(i + 1)}_csv.csv'
        season_list.append(basic_clean(path))

    # Concat all the dataframes in the list together and return it
    seasons = (pd.concat(season_list)
               .reset_index()
               .drop('index', axis=1))
    seasons.to_csv(r'data/seasons_merged.csv')
    return seasons

all_years().tail()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
3795,2019-12-05,Liverpool,Wolves,2,0,1,1,0,H,M Atkinson,...,5,2,3,11,4,1,0,2,0,0
3796,2019-12-05,Man United,Cardiff,0,2,-1,0,1,A,J Moss,...,10,4,9,6,11,2,3,3,0,0
3797,2019-12-05,Southampton,Huddersfield,1,1,0,1,0,H,L Probert,...,3,3,8,6,4,3,0,1,0,0
3798,2019-12-05,Tottenham,Everton,2,2,0,1,0,H,A Marriner,...,3,9,10,13,7,4,0,2,0,0
3799,2019-12-05,Watford,West Ham,1,4,-1,0,2,A,C Kavanagh,...,8,9,10,10,7,2,1,0,1,0